.profile-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
  border-radius: 15px;
}

h2 {
  margin-bottom: 24px;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
 
}

.form-group label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #444;
}

.form-group input,
.form-group select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 15px;
  
}


.phone-group .phone-flex {
  display: flex;
  gap: 10px;
}

.phone-group select {
  width: 100px;
}

.promo-whatsapp {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.save-btn {
  margin-top: 30px;
  padding: 12px 20px;
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.save-btn:hover {
  background-color: #005bb5;
}
